*{
    margin: 0;
    padding: 0;
}
body {
    display: block;
    color: #3C3C3C;
}
header{
    /*background: aquamarine;*/
    width: 100%;
    margin-top: 1%;
}
nav {
    height: 4%;
    width: 84%;
    margin-right: 0;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
nav ul li {
    position: relative;
    margin-left: 5%;
    font-size: calc(100vw * 23 / 1920);
}
a {
    text-decoration: none;
    color: inherit;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
b{
    background-color: #F7FF13;
}
table, th,tr,td{
    justify-content: center;
    align-items: center;


    /*border: solid 1px black;*/
    border-collapse: collapse;
    padding: 8px;
}
.project {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300vh;
}



.project ul {
    top:100px;
    list-style: none;
    border-left:3px solid #3C3C3C;
    margin-left: 20%;
}
.project li {
    opacity: 0;
    position:relative;
    padding:70px 0;
    font-weight: bold;
    transition: all 1.5s ease-out;
}

.project li:nth-child(odd) {
    left:100px;
}
.project li:nth-child(even) {
    left:-500px;
}
.project li.show {
    animation:show .5s ease-in-out forwards;
}
@keyframes show {
    0% {transform: translateY(50px);opacity: 0;}
    100% {transform: translateY(0);opacity: 1;}
}
footer{
    height: auto;
    margin-bottom: 0;
    padding-bottom: 0;
}

.connect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}